@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("../fonts/mongolianbaiti/stylesheet.css");
@import url("../fonts/muli/stylesheet.css");
*::before,
*::after {
  box-sizing: border-box; /* 3 */
}

.post, .page {
  margin: 0;
}

body {
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  /* font-family: 'Mongolian Baiti'; */
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
}

a {
  transition: all 0.5s ease;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

p {
  margin-bottom: 16px;
}

.sub-heading {
  color: #31437A;
  font-family: "Mongolian Baiti";
  font-size: 45px;
  font-weight: 400;
  line-height: 52px;
}

.main-heading {
  color: #fff;
  font-family: "Mongolian Baiti";
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  text-align: center;
}

.foud-name {
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 16px;
}

.page-title {
  color: #fff;
  font-family: "Mongolian Baiti";
  font-size: 60px;
  font-weight: 400;
  line-height: 65x;
  text-align: center;
}

.custom-link {
  text-decoration: underline;
  color: rgba(48, 67, 121, 0.9);
  transition: all 0.5s ease;
  font-weight: bold;
}
.custom-link:focus, .custom-link:visited, .custom-link:hover {
  color: #304379;
  text-decoration: none;
}

/********************header-css********************/
.header-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 9;
  background: transparent linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.7019607843) 27%, rgba(0, 0, 0, 0.3019607843) 62%, rgba(0, 0, 0, 0) 100%) 0% 0% no-repeat padding-box;
  transition: all 0.5s ease;
}
.header-section.sticky {
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 0 0 50px 50px;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.main-header {
  display: flex;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between;
}

.della-btn {
  background-color: transparent;
  border: none;
  padding: 15px 0;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}
.della-btn:hover .icon-img {
  right: -50px;
}
.della-btn .btn-text {
  background: #E8B934;
  border-radius: 28px;
  border: none;
  color: #000;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 16.5px 23px;
}
.della-btn .icon-img {
  display: flex;
  margin-left: 171px;
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: -35px;
  top: 2px;
  bottom: 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
  margin: auto;
}

/********************header-css********************/
.logo img {
  width: 100%;
  max-width: 75px;
}

.nav-menu a {
  color: #E8B934;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.main-navigation {
  display: flex;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}
.main-navigation ul {
  align-items: center;
  gap: 40px;
}

.nav-menu li:last-child {
  position: absolute;
  right: 40px;
  background: #E8B934;
  border-radius: 28px;
}
.nav-menu li:last-child a {
  padding: 15px 29px;
  color: #000;
}
.nav-menu li:last-child a:hover {
  color: #000;
}
.nav-menu li:last-child a:hover:after {
  display: none;
}
.nav-menu li a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #FFFFFF;
}
.nav-menu li a:after {
  background-color: #E8B934;
  width: 0px;
  height: 1px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: width 0.3s;
}
.nav-menu li a:hover {
  color: #E8B934;
}
.nav-menu li a:hover:after {
  width: 80%;
}
.nav-menu li.current-menu-item a {
  color: #E8B934;
  position: relative;
}
.nav-menu li.current-menu-item a:after {
  width: 80%;
}

.main-section {
  background-image: url(../images/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 95px;
  height: 657px;
  border-radius: 0px 0px 80px 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section:after {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  content: "";
  border-radius: 0px 0px 80px 80px;
}

/********************header-css********************/
.main-text {
  position: relative;
  z-index: 1;
  text-align: center;
}
.main-text .main-heading {
  margin-bottom: 60px;
}

.della-terra-about-sec {
  padding: 80px 0 100px;
}
.della-terra-about-sec .della-terra-sides {
  display: flex;
  align-items: center;
  gap: 40px;
}
.della-terra-about-sec .della-terra-sides .della-left-side {
  width: calc(50% - 30px);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
.della-terra-about-sec .della-terra-sides .della-left-side .sub-heading {
  margin-bottom: 16px;
}
.della-terra-about-sec .della-terra-sides .della-left-side .della-content {
  margin-bottom: 44px;
}
.della-terra-about-sec .della-terra-sides .della-left-side .della-btn {
  margin-top: 44px;
}
.della-terra-about-sec .della-terra-sides .della-right-side {
  width: calc(50% - 10px);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.della-terra-about-sec .della-terra-sides .della-right-side .dell-main-img {
  width: 100%;
  height: 280px;
  position: relative;
  transition: all 0.5s ease;
}
.della-terra-about-sec .della-terra-sides .della-right-side .dell-main-img .name-link {
  max-width: 500px !important;
}
.della-terra-about-sec .della-terra-sides .della-right-side .dell-main-img:hover .name-link-img picture {
  margin-right: -5px;
}
.della-terra-about-sec .della-terra-sides .della-right-side .dell-sub-img {
  width: calc(50% - 10px);
  height: 221px;
  position: relative;
  transition: all 0.5s ease;
}
.della-terra-about-sec .della-terra-sides .della-right-side .dell-sub-img:hover .name-link-img picture {
  margin-right: -5px;
}
.della-terra-about-sec .della-terra-sides .della-right-side picture {
  display: block;
  position: relative;
}
.della-terra-about-sec .della-terra-sides .della-right-side picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  position: relative;
}
.della-terra-about-sec .della-terra-sides .della-right-side picture::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%) 0% 0% no-repeat padding-box;
  border-radius: 0 0 40px 40px;
  z-index: 1;
}
.della-terra-about-sec .della-terra-sides .della-right-side .name-link-img {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 20px 20px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.della-terra-about-sec .della-terra-sides .della-right-side .name-link-img .name-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #FFFFFF;
  max-width: 200px;
}
.della-terra-about-sec .della-terra-sides .della-right-side .name-link-img picture {
  height: 40px;
  width: 40px;
  min-width: 40px;
  transition: all 0.5s ease;
}
.della-terra-about-sec .della-terra-sides .della-right-side .name-link-img picture::before {
  display: none;
}

.entrepreneur-section {
  padding: 80px 0;
  max-width: 1360px;
  background: #eff0f4;
  border-radius: 60px;
  margin: 0 auto;
  position: relative;
}
.entrepreneur-section .yellow-star {
  position: absolute;
  top: -80px;
  left: 460px;
  height: 140px;
  width: 140px;
}
.entrepreneur-section .entrepreneur-sides {
  display: flex;
  align-items: center;
  gap: 40px;
}
.entrepreneur-section .entrepreneur-sides .entrepreneur-img {
  max-width: 545px;
  border: 15px solid #97A0BC;
  border-radius: 600px 600px 30px 30px;
  padding-bottom: 0;
  width: 100%;
}
.entrepreneur-section .entrepreneur-sides .entrepreneur-img picture {
  display: block;
  position: relative;
  height: 100%;
  padding-bottom: 91.27%;
}
.entrepreneur-section .entrepreneur-sides .entrepreneur-img picture img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center -76px;
     object-position: center -76px;
  border-radius: 600px 600px 0px 0px;
}
.entrepreneur-section .entrepreneur-sides .entrepreneur-content {
  flex: 1;
}
.entrepreneur-section .entrepreneur-sides .entrepreneur-content .sub-heading {
  margin-bottom: 16px;
}
.entrepreneur-section .entrepreneur-sides .entrepreneur-content .terra-btn {
  margin-top: 54px;
}

.journey-section .della-terra-sides .della-right-side picture {
  width: 100%;
  height: 544px;
}
.journey-section .della-terra-sides .della-right-side picture::before {
  display: none;
}

.customer-client-reviews-section {
  padding: 80px 0;
  max-width: 1360px;
  background: #eff0f4;
  border-radius: 60px;
  margin: 0 auto;
  position: relative;
}
.customer-client-reviews-section .gray-star {
  position: absolute;
  top: -60px;
  left: 105px;
  height: 140px;
  width: 140px;
}
.customer-client-reviews-section .sub-heading {
  text-align: center;
  margin-bottom: 40px;
}
.customer-client-reviews-section .reviews-slider .reviewsSwiper .swiper-wrapper {
  padding-left: 30px;
}
.customer-client-reviews-section .reviews-slider .reviewsSwiper .swiper-slide {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 54px;
}
.customer-client-reviews-section .reviews-slider .reviewsSwiper .swiper-slide .review-title {
  font-size: 22px;
  line-height: 28px;
  display: -webkit-box;
  color: #000000;
  font-weight: 700;
  height: 56px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-bottom: 16px;
}
.customer-client-reviews-section .reviews-slider .reviewsSwiper .swiper-slide .review-text {
  height: 44px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-bottom: 16px;
  position: relative;
}
.customer-client-reviews-section .reviews-slider .reviewsSwiper .swiper-slide .review-text .custom-link {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 22px;
  background-color: #ffffff;
  padding: 0 10px;
}
.customer-client-reviews-section .reviews-slider .reviewsSwiper .swiper-slide .date {
  margin-bottom: 24px;
}
.customer-client-reviews-section .reviews-slider .reviewsSwiper .swiper-slide .date strong {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
}
.customer-client-reviews-section .reviews-slider .reviewsSwiper .swiper-slide .overall-rating {
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  gap: 10px;
}
.customer-client-reviews-section .reviews-slider .reviewsSwiper .swiper-slide .overall-rating h4 {
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  font-weight: 600;
}
.customer-client-reviews-section .reviews-slider .reviewsSwiper .swiper-slide .overall-rating .rateing {
  background-color: #31437A;
  border-radius: 33px;
  height: 34px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}

.footer-section {
  max-width: 1360px;
  margin: 80px auto 40px;
  background-image: url(../images/footer-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 30px;
  border-radius: 40px;
  position: relative;
}
.footer-section:before {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  content: "";
  border-radius: 40px;
}
.footer-section .footer-site {
  position: relative;
  z-index: 1;
  text-align: center;
}
.footer-section .footer-site .foote-logo {
  display: inline-block;
  margin-bottom: 50px;
}
.footer-section .footer-site .sub-heading {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  max-width: 885px;
  margin: 0 auto 26px;
}
.footer-section .footer-site .subscribe-form {
  max-width: 575px;
  margin: 0 auto;
  position: relative;
}
.footer-section .footer-site .subscribe-form .form-control {
  padding: 20px 145px 20px 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 38px;
  position: relative;
}
.footer-section .footer-site .subscribe-form .form-control:focus {
  box-shadow: none;
  border: 1px solid rgb(255, 255, 255);
}
.footer-section .footer-site .subscribe-form .subscribe-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  position: absolute;
  padding: 15px 30px;
  height: 50px;
  max-width: 138px;
  color: #000000;
  background-color: #E8B934;
  border-radius: 28px;
  border: none;
  right: 7px;
  top: 7px;
  bottom: 7px;
}
.footer-section .footer-site .subscribe-form .error-text {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  color: red;
}
.footer-section .footer-site .footer-link {
  margin: 40px 0;
  padding: 40px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  gap: 70px;
}
.footer-section .footer-site .footer-link li a {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.footer-section .footer-site .footer-link li a:hover {
  color: #E8B934;
}
.footer-section .footer-site .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-section .footer-site .footer-bottom .bottom-link {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 70px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.footer-section .footer-site .footer-bottom .bottom-link .links {
  display: flex;
  align-items: center;
  gap: 70px;
}
.footer-section .footer-site .footer-bottom .bottom-link .links a {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
.footer-section .footer-site .footer-bottom .bottom-link .links a:hover {
  color: rgb(255, 255, 255);
}
.footer-section .footer-site .footer-bottom .share-link {
  display: flex;
  gap: 10px;
}
.footer-section .footer-site .footer-bottom .share-link a {
  opacity: 0.8;
}
.footer-section .footer-site .footer-bottom .share-link a:hover {
  opacity: 1;
}

.all-banner-section {
  background-image: url(../images/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 95px;
  height: 340px;
  border-radius: 0px 0px 80px 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-banner-section:after {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  content: "";
  border-radius: 0px 0px 80px 80px;
}

.aboutus-section {
  position: relative;
}
.aboutus-section .gray-star {
  position: absolute;
  top: 8px;
  left: 44%;
  right: 0;
  height: 70px;
  width: 70px;
}
.aboutus-section .della-terra-sides .della-left-side .della-content {
  margin-bottom: 24px;
}
.aboutus-section .della-terra-sides .della-left-side .name-sign {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.aboutus-section .della-terra-sides .della-left-side .name-sign p {
  margin-bottom: 8px;
}
.aboutus-section .della-terra-sides .della-left-side .name-sign p:last-child {
  margin-bottom: 0px;
}
.aboutus-section .della-terra-sides .della-left-side .name-sign p span {
  font-weight: 600;
}
.aboutus-section .della-terra-sides .della-left-side .name-sign p strong {
  font-weight: 700;
}
.aboutus-section .della-terra-sides .della-right-side .dell-main-img {
  height: 250px;
}
.aboutus-section .della-terra-sides .della-right-side .dell-main-img picture {
  display: unset;
}
.aboutus-section .della-terra-sides .della-right-side .dell-sub-img {
  height: 280px;
}
.aboutus-section .della-terra-sides .della-right-side .dell-sub-img picture {
  display: unset;
}
.aboutus-section .della-terra-sides .della-right-side picture::before {
  display: none;
}

.vision-value-section {
  background: rgba(232, 185, 52, 0.15);
  border-radius: 60px;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1360px;
}
.vision-value-section .vision-wrap {
  display: flex;
  gap: 40px;
}
.vision-value-section .vision-wrap .vision-value-content {
  width: calc(50% - 35px);
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.vision-value-section .vision-wrap .vision-value-content .sub-heading {
  margin-bottom: 24px;
}
.vision-value-section .vision-wrap .vision-value-content p {
  margin-bottom: 0px;
}
.vision-value-section .vision-wrap .vision-value-content .value-cotent .value-list {
  margin: 0;
  padding: 0;
}
.vision-value-section .vision-wrap .vision-value-content .value-cotent .value-list li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 16px;
}
.vision-value-section .vision-wrap .vision-value-content .value-cotent .value-list li:last-child {
  margin-bottom: 0px;
}
.vision-value-section .vision-wrap .vision-value-content .value-cotent .value-list li::before {
  position: absolute;
  content: "";
  background: url(../images/list-icon.svg) no-repeat;
  width: 22px;
  height: 18px;
  left: 0;
  top: 5px;
}
.vision-value-section .vision-wrap .vision-img {
  width: calc(50% - 5px);
}
.vision-value-section .vision-wrap .vision-img .vision-one {
  position: relative;
  top: 165px;
  left: 0;
  width: 415px;
  z-index: 1;
}
.vision-value-section .vision-wrap .vision-img .vision-one img {
  border-radius: 80px 20px;
}
.vision-value-section .vision-wrap .vision-img .vision-two {
  position: absolute;
  width: 370px;
  height: 270px;
  right: 0;
}
.vision-value-section .vision-wrap .vision-img .vision-two img {
  border-radius: 20px 100px 20px 80px;
}
.vision-value-section .vision-img {
  position: relative;
}
.vision-value-section .vision-img::before {
  position: absolute;
  content: "";
  background: url(../images/vision-icon.svg) no-repeat;
  width: 103px;
  height: 102px;
  left: 20px;
  top: 0px;
}

.team-section {
  padding: 100px 0;
}
.team-section .team-wrap {
  display: flex;
  align-items: center;
  gap: 40px;
}
.team-section .team-wrap .team-img {
  width: calc(50% - 10px);
}
.team-section .team-wrap .team-img picture {
  display: block;
  border-radius: 40px;
}
.team-section .team-wrap .team-img picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.team-section .team-wrap .team-content {
  width: calc(50% - 30px);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
.team-section .team-wrap .team-content .sub-heading {
  margin-bottom: 24px;
}

.founder-ceo-section {
  position: relative;
  background-color: #eff0f4;
  border-radius: 60px;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  max-width: 1360px;
  margin: 0 auto;
  padding: 100px 0;
}
.founder-ceo-section .foud-name,
.founder-ceo-section .sub-heading {
  margin-bottom: 16px;
}
.founder-ceo-section .gray-star {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 113px;
  width: 113px;
  margin: 0 auto;
}
.founder-ceo-section .founder-detail {
  margin: 0 auto;
}
.founder-ceo-section .founder-detail .right-side {
  float: right;
  margin-left: 40px;
  margin-bottom: 100px;
  margin-top: -90px;
  width: 25%;
  max-width: 545px;
  height: 100%;
  display: block;
  position: relative;
  border: 15px solid #97A0BC;
  border-radius: 600px 600px 30px 30px;
  width: 100%;
  padding-bottom: 37.92%;
}
.founder-ceo-section .founder-detail .right-side img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center -76px;
  object-position: center -76px;
  border-radius: 600px 600px 0px 0px;
}
.founder-ceo-section .founder-detail p:last-child {
  margin-bottom: 0px;
}

.co-founder-section {
  padding: 100px 0 0;
}
.co-founder-section .co-founder-wrap {
  display: flex;
  align-items: center;
  gap: 40px;
}
.co-founder-section .co-founder-wrap .founder-img {
  max-width: 545px;
  border: 15px solid #97A0BC;
  border-radius: 600px 600px 30px 30px;
  padding-bottom: 0;
  width: 100%;
}
.co-founder-section .co-founder-wrap .founder-img picture {
  display: block;
  position: relative;
  height: 100%;
  padding-bottom: 91.27%;
}
.co-founder-section .co-founder-wrap .founder-img picture img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 600px 600px 0px 0px;
}
.co-founder-section .co-founder-wrap .founder-content {
  width: calc(60% - 10px);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
.co-founder-section .co-founder-wrap .founder-content .foud-name,
.co-founder-section .co-founder-wrap .founder-content .sub-heading {
  margin-bottom: 16px;
}

.our-project-section {
  padding: 80px 0 0;
}
.our-project-section .project-list-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
}
.our-project-section .project-list-box .project-box {
  border-radius: 40px;
  display: block;
  max-width: 400px;
  width: 100%;
  position: relative;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  overflow: hidden;
}
.our-project-section .project-list-box .project-box:hover picture img {
  transform: scale(1.05);
}
.our-project-section .project-list-box .project-box picture {
  position: relative;
  padding-bottom: 82.5%;
  display: block;
}
.our-project-section .project-list-box .project-box picture::before {
  content: "";
  position: absolute;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%) 0% 0% no-repeat padding-box;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
  border-radius: 0 0 40px 40px;
}
.our-project-section .project-list-box .project-box picture img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  transform: scale(1);
  transition: 0.3s ease;
}
.our-project-section .project-list-box .project-box span {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 15px;
  z-index: 2;
}
.our-project-section .terra-btn {
  margin-top: 60px;
  text-align: center;
}
.our-project-section .terra-btn .icon-img {
  transform: rotate(90deg);
}

.project-name-list {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}
.project-name-list li {
  min-height: 50px;
}
.project-name-list li .pro-btn {
  display: block;
  font-family: "Inter", sans-serif;
  padding: 14px 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
  border: 1px solid #31437A;
  border-radius: 28px;
  text-wrap: nowrap;
}
.project-name-list li .pro-btn.active, .project-name-list li .pro-btn:hover {
  background: #31437A;
  color: #ffffff;
}

.fancybox-thumbs {
  top: auto;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 100px;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  width: 100%;
}
.fancybox-thumbs .fancybox-inner {
  right: 0;
  bottom: 95px;
}
.fancybox-thumbs .fancybox-thumbs__list {
  width: 775px;
  margin: 0 auto;
}
.fancybox-thumbs .fancybox-thumbs__list a {
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  margin: 0px 7px;
  max-height: 100%;
  max-width: 100%;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid rgba(112, 112, 112, 0.8);
}
.fancybox-thumbs .fancybox-thumbs__list a.fancybox-thumbs-active {
  border: 2px solid #E8B934;
}
.fancybox-thumbs .fancybox-thumbs__list a::before {
  border: 1px solid rgba(112, 112, 112, 0.8);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
  border-radius: 20px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 0;
  right: 50px;
}
.fancybox-navigation .fancybox-button--arrow_left {
  padding: 0;
  left: 50px;
}
.fancybox-navigation .fancybox-button {
  height: 50px;
  width: 50px;
  min-width: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fancybox-navigation .fancybox-button div {
  padding: 0;
}
.fancybox-navigation .fancybox-button svg {
  height: 24px;
  width: 24px;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 0px;
}
.fancybox-show-thumbs .fancybox-thumbs {
  background: transparent;
}
.fancybox-show-thumbs .fancybox-content {
  border-radius: 50px;
  width: 940px !important;
  height: 417px !important;
  margin: auto !important;
  transform: inherit !important;
  right: 0;
  bottom: 0;
}
.fancybox-show-thumbs .fancybox-content .fancybox-image {
  border-radius: 50px;
}
.fancybox-show-thumbs .fancybox-content .fancybox-spaceball {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #ffffff;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%) 0% 0% no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  margin: auto;
}

.fancybox-is-open .fancybox-bg {
  background: #000000;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.fancybox-toolbar {
  display: flex;
  gap: 10px;
  top: 20px;
  right: 100px;
}
.fancybox-toolbar .fancybox-button {
  height: 50px !important;
  width: 50px !important;
  min-width: 50px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fancybox-toolbar .fancybox-button .play-icon path {
  fill: none;
  stroke-width: 1px;
}

.blogs-section {
  padding: 80px 0 0;
}
.blogs-section .blogs-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
.blogs-section .blogs-name h3 {
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Mongolian Baiti";
  text-decoration: underline;
  color: #31437A;
}
.blogs-section .blogs-name .project-name-list {
  margin-bottom: 0px;
}
.blogs-section .blogs-listing {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
}
.blogs-section .blogs-listing .blogs-box {
  background: #FFFFFF;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.031372549);
  border-radius: 30px;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
}
.blogs-section .blogs-listing .blogs-box:hover .blogs-img img {
  transform: scale(1.05);
}
.blogs-section .blogs-listing .blogs-box .blogs-img picture {
  position: relative;
  display: block;
  padding-bottom: 55%;
}
.blogs-section .blogs-listing .blogs-box .blogs-img picture img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  transform: scale(1);
  transition: 0.3s ease;
}
.blogs-section .blogs-listing .blogs-box .blogs-content {
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
}
.blogs-section .blogs-listing .blogs-box .blogs-content .blog-title {
  color: #000000;
}
.blogs-section .blogs-listing .blogs-box .blogs-content .blog-title h4 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  height: 46px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blogs-section .blogs-listing .blogs-box .blogs-content .blog-title:hover {
  color: #31437A;
}
.blogs-section .blogs-listing .blogs-box .blogs-content span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  line-height: 24px;
  margin: 16px 0;
}
.blogs-section .blogs-listing .blogs-box .blogs-content p {
  margin-bottom: 16px;
  height: 46px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blogs-section .blogs-listing .blogs-box .blogs-content .read-more {
  display: inline-flex;
  gap: 8px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #31437A;
  transition: all 0.3s ease;
}
.blogs-section .blogs-listing .blogs-box .blogs-content .read-more picture {
  transition: all 0.3s ease;
}
.blogs-section .blogs-listing .blogs-box .blogs-content .read-more:hover picture {
  margin-left: 5px;
}
.blogs-section .terra-btn {
  margin-top: 60px;
  text-align: center;
}
.blogs-section .terra-btn .icon-img {
  transform: rotate(90deg);
}/*# sourceMappingURL=style.css.map */